*~
.*.swp

.pc/

build
build-arch
build-dbg

config.guess
config.status.extras
config.status.full
config.status.light
config.status.naxsi
config.status.passenger
config.sub

debian/files

debian/build-extras/
debian/build-full/
debian/build-light/
debian/build-naxsi/
debian/build-passenger/

debian/nginx/
debian/nginx-common/
debian/nginx-doc/
debian/nginx-extras/
debian/nginx-full/
debian/nginx-light/
debian/nginx-naxsi/
debian/nginx-passenger/

debian/nginx-extras-dbg/
debian/nginx-full-dbg/
debian/nginx-light-dbg/
debian/nginx-naxsi-dbg/
debian/nginx-passenger-dbg/

debian/nginx*.debhelper*
debian/nginx*.substvars

debian/passenger.conf
